*.PVS-Studio.cfg
ipch
*log.txt
bin
gen
objs
libs
*.sdf
Debug
Release
*.dll
*.exe
*.pbd
*.pdb
*.ilk
xcuserdata
*.suo
*.user
build
*.ncb
.DS_Store
*.o
.*.swp

## CMake
engine/glfw/*.vcxproj
engine/glfw/*.filters
engine/glfw/*.sln
engine/glfw/*.opensdf
engine/glfw/openal
engine/glfw/glfw
engine/glfw/glew
CMakeFiles
CMakeCache.txt
cmake_install.cmake